.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.bg-primary{
    background: #93cb52;
    color: #fff;
}

#contact{
    display: flex;
}

#contact .map, #contact .contact-form{
    flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;
}

#contact .contact-form label{
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
